# Pandas

## Panel Data

In [2]:
import pandas as pd

# Series

In [5]:
series_1 = pd.Series([5,3,5,7,4,5,6,8])
series_1

0    5
1    3
2    5
3    7
4    4
5    5
6    6
7    8
dtype: int64

In [6]:
series_1[3:6]

3    7
4    4
5    5
dtype: int64

# Replace default indexes

In [9]:
series_1 = pd.Series([5,3,5,7])
series_1

0    5
1    3
2    5
3    7
dtype: int64

In [17]:
series_1 = pd.Series([5,3,5,7], index=['r1', 'r2', 'r3','r4'])
series_1

r1    5
r2    3
r3    5
r4    7
dtype: int64

In [20]:
series_1['r2': 'r4']

r2    3
r3    5
r4    7
dtype: int64

In [21]:
series_2 = pd.Series([5,3,5,7])
series_2

0    5
1    3
2    5
3    7
dtype: int64

In [22]:
series_2[1:3]

1    3
2    5
dtype: int64

In [23]:
import numpy as np

In [24]:
series_3 = pd.Series(np.arange(20))
series_3

0      0
1      1
2      2
3      3
4      4
5      5
6      6
7      7
8      8
9      9
10    10
11    11
12    12
13    13
14    14
15    15
16    16
17    17
18    18
19    19
dtype: int32

In [26]:
# create a Series with 30 0 values

In [34]:
series_4 = pd.Series(np.zeros(30))
series_4

0     0.0
1     0.0
2     0.0
3     0.0
4     0.0
5     0.0
6     0.0
7     0.0
8     0.0
9     0.0
10    0.0
11    0.0
12    0.0
13    0.0
14    0.0
15    0.0
16    0.0
17    0.0
18    0.0
19    0.0
20    0.0
21    0.0
22    0.0
23    0.0
24    0.0
25    0.0
26    0.0
27    0.0
28    0.0
29    0.0
dtype: float64